<div>
	<%= link_to folder_uploads_path(folder) do %>
	<i class="fas fa-folder xl-icon" title="<%= folder.name %>"></i>
	<% end %>
	<br>
	<div>
		<%= folder.name %>
	</div>
</div>
<div class="col-md-4">
	<%= link_to folder_path(folder), remote: true do %>
	<i class="fas fa-pencil-alt xs-icon ml-2 float-left" title="<%= folder.name %>" data-toggle="modal" data-target="#add_folder_modal"></i>
	<% end %>
</div>