<!DOCTYPE html>
<html>
<head>
  <title>DropboxClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container col-md-10 p-2 mt-2">
    <%= render "shared/flash_messages" %>
    <div class="mt-1 row">
      <%= yield %>
    </div>
  </div>

</body>
</html>